/* CSS HEX
--licorice: #220c10ff;
--onyx: #393c3a;
--feldgrau: #506c64ff;
--tiffany-blue: #77cbb9ff;
--moonstone: #75b8c8ff;
--silver: #cdd3d5ff;

 CSS HSL 
--licorice: hsla(349, 48%, 9%, 1);
--feldgrau: hsla(163, 15%, 37%, 1);
--tiffany-blue: hsla(167, 45%, 63%, 1);
--moonstone: hsla(192, 43%, 62%, 1);
--silver: hsla(195, 9%, 82%, 1);
 */

/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.3s;
  list-style-type: none;
}

body {
  font-family: "Instrument Sans", sans-serif;
  background-color: #e4e8e9;
}

a {
  text-decoration: none;
}

/* Navigation */
.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar__links a {
  padding: 1rem;
  color: black;
}
.navbar__links a:hover {
  color: #75b8c8;
}

.navbar__links--account a {
  padding: 0.5rem 1rem;
}

.navbar__links--account a:hover {
}

/* Will show up once the bg is there */
.navbar__login {
  color: #cdd3d5;
  margin-right: 1rem;
}

.navbar__login:hover {
  background-color: #e4e8e9;
  color: #334a44;
}

.navbar__signup {
  background-color: #e4e8e9;
  color: #334a44;
}
.navbar__signup:hover {
  background-color: #334a44;
  color: #e4e8e9;
}

/* Hero */
.hero {
  width: 100%;
}

.hero__container {
  width: 100%;
  display: flex;
}

.hero__content {
  background-color: #506c64;
  padding: 4rem 6rem 6rem;
}
.hero__text {
  max-width: 300px;
  margin: auto;
}

.hero__title {
  font-size: 4.5rem;
  letter-spacing: 2px;
}
.hero__title span {
  color: #506c64;
  text-shadow: -2px -2px 0 #77cbb9, 2px -2px 0 #77cbb9, -2px 2px 0 #77cbb9, 2px 2px 0 #77cbb9;
}

.hero__image {
  background-color: #cdd3d5;
  height: 100%;
  width: 60%;
}
.hero__text p {
  font-size: 1.25rem;
  color: #cdd3d5;
  padding: 2rem 0;
}

/* About */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr 3fr;
  margin: 2rem auto;
  width: 80%;
  max-width: 1000px;
}

.tagline {
  grid-column: span 3;
  font-size: 1.5rem;
  text-align: center;
  margin: auto 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.card h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.card p {
  font-size: 1rem;
}

.card__stat {
  font-size: 2.25rem;
  font-weight: 700;
  color: #334a44;
  filter: drop-shadow(5px 5px #77cbb9b2);
}

/* Icons */
.lucide {
}

.card__icon {
  color: #334a44;
  width: 56px;
  height: 56px;
  stroke-width: 1px;
  fill: #506c64;
  background: transparent;
  filter: drop-shadow(8px 5px #77cbb9b2);
}

.brand__icon {
  color: #77cbb9;
  width: 2.5rem;
  height: 2.5rem;
  fill: #506c64;
}

.hero__icon {
  color: #77cbb9;
  width: 60px;
  height: 60px;
  stroke-width: 4px;
  fill: none;
}

.hero__icon:hover {
  scale: 1.2;
}

/* Sign Up */
.signup {
  background-color: #506c64;
}

/* Footer */

footer {
  background-color: #506c64;
}
