:root {
  --licorice: #220c10;
  --onyx: #393c3a;
  --forest: #506c64;
  --tiffany: #77cbb9;
  --moonstone: #75b8c8;
  --silver: #cdd3d5;
  --egg: #e4e8e9;
}

/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.3s;
  list-style-type: none;
}

body {
  font-family: "Instrument Sans", sans-serif;
  background-color: var(--egg);
}

a {
  text-decoration: none;
}

/* Navigation */
.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar__links a {
  padding: 1rem;
  color: black;
}
.navbar__links a:hover {
  color: var(--moonstone);
}

.navbar__links--account a {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.navbar__links--account a:hover {
}

/* Will show up once the bg is there */
.navbar__login {
  color: var(--forest);
  margin-right: 1rem;
}

.navbar__login:hover {
  background-color: var(--egg);
  color: var(--onyx);
}

.navbar__signup {
  background-color: var(--egg);
  color: var(--onyx);
}
.navbar__signup:hover {
  background-color: var(--onyx);
  color: var(--egg);
}

/* Hero */
.hero {
  max-height: 640px;
  width: 100%;
  overflow: hidden;
  background-color: var(--silver);
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hero__content {
  background-color: var(--forest);
  padding: 4rem 6rem 6rem;
}

.hero__title {
  font-size: 4.5rem;
  letter-spacing: 2px;
  color: var(--tiffany);
  width: 250px;
  margin: auto;
}

.hero__title span {
  color: var(--forest);
  text-shadow: -2px -2px 0 #77cbb9, 2px -2px 0 #77cbb9, -2px 2px 0 #77cbb9, 2px 2px 0 #77cbb9;
}

.hero__image {
  height: 100%;
  object-fit: cover;
  justify-self: right;
}

.hero__image img {
  margin: auto;
  height: 100%;
}

.hero__text p {
  font-size: 1.25rem;
  color: var(--silver);
  padding: 2rem 0;
  margin: auto;
  width: 250px;
}

/* About */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min, 1fr));
  grid-template-rows: 3fr 1fr 3fr;
  margin: 2rem auto;
  width: 80%;
  max-width: 1000px;
}

.tagline {
  grid-column: span 3;
  font-size: 1.5rem;
  text-align: center;
  margin: auto 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.card h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.card p {
  font-size: 1rem;
}

.card__stat {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--onyx);
  filter: drop-shadow(5px 5px #77cbb9b2);
}

/* Icons */
.lucide {
}

.card__icon {
  color: var(--onyx);
  width: 56px;
  height: 56px;
  stroke-width: 1px;
  fill: var(--forest);
  background: transparent;
  filter: drop-shadow(8px 5px #77cbb9b2);
}

.brand__icon {
  color: var(--tiffany);
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--forest);
}

.hero__icon {
  color: var(--moonstone);
  width: 60px;
  height: 60px;
  stroke-width: 4px;
  fill: none;
}

.hero__icon:hover {
  scale: 1.2;
}

/* Sign Up */
.signup {
  background-color: var(--forest);
}

/* Footer */

footer {
  background-color: var(--forest);
}
